@media (max-width: 768px) {
    .hero-container .text-hero p {
        font-size: clamp(0.9rem, 5vw, 1.2rem);
    }
    .hero-container .box-wrapper {
        max-width: 320px;
    }
    .column {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .column .email{
        width: 100%;
    }
    .column .phone{
        width: 100%;
    }

    /* contact section */
    .contact-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 0px;
        gap: 30px;
    }
    .input-box textarea {
        resize: none;
        height: 120px;
    }
    .contact-container .card-phone, .contact-container .card-email, .contact-container .card-maps {
        padding: 15px;
        min-height: auto;
        margin: 0px 30px;
        min-width: auto;
    }
    .contact-container .card-phone h1,
    .contact-container .card-email h1 {
        font-size: clamp(1.1rem, 3vw, 1.4rem);
    }
    .contact-container .card-phone p,
    .contact-container .card-email p {
        font-size: clamp(0.8rem, 3vw, 1rem);
    }
    
    .contact-container .card-phone img,
    .contact-container .card-email img  {
        width: 15%;
    }
    .contact-container .card-maps{
        width: 100%;
        padding: 20px 30px;
    }    
}
