@media (max-width: 768px) {
    .hero-container .text-hero p {
        font-size: clamp(0.9rem, 5vw, 1.2rem);
    }
    .hero-container .box-wrapper {
        max-width: 320px;
    }
    .contact-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 0px;
        gap: 30px;
    }
    .contact-container .card-phone, .contact-container .card-email {
        padding: 15px;
        min-height: auto;
        margin: 0px 30px;
        min-width: auto;
    }
    .contact-container .card-phone h1,
    .contact-container .card-email h1 {
        font-size: clamp(1.15rem, 3vw, 1.6rem);
    }
    .contact-container .card-phone p,
    .contact-container .card-email p {
        font-size: clamp(0.8rem, 3vw, 1rem);
    }
    
    .contact-container .card-phone img,
    .contact-container .card-email img  {
        width: 15%;
    }
    .contact-container .card-maps{
        width: 100%;
        padding: 0px 30px;
    }    
}
